
header {
  display: flex;
  justify-content: center;
  background-color: #E8C472;
  margin-left: 20px;
margin-right: 20px;
  border-radius: 42px;
}
header a {

}


.texte{
  font-family: 'Comfortaa', cursive;
  font-size: 24px;
  color: white;
  background-color: #e8c472;
  padding: 42px;
  border-radius: 25px;
max-width: 200px;
min-height: 200px;
margin: 40px;
}

.all{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content : space-around;
  align-items: center;
  background-color: #F4EECC;
  margin: 25px;
padding-top: 10px;
  border-radius: 25px;
}
.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content : space-around;
  align-items: center;
  background-color: #F4EECC;
  border-radius: 25px;
}
h1 {
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #F4EECC;
  color : #F19650;
}
body {background: url('images/fond.png');
background-size:contain;
height: auto;}

a:link, a:visited {
    background-color: #e8c472;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

a:hover, a:active {
    background-color: #F19650;
}
.aaa{
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: center;
  text-align: center;
  padding-bottom: 15px;
  border-radius: 4px;
  text-decoration: none;
}
